<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IDokumentService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8008/EFDocuments" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IDokumentService" contract="IDokumentService"
                name="BasicHttpBinding_IDokumentService" />
        </client>
    </system.serviceModel>
</configuration>