<nlog throwConfigExceptions="true" internalLogFile="NlogErrors.log">
  <targets>
    <target name="console" type="ColoredConsole" layout="${message}">
      <highlight-row condition="level == LogLevel.Debug" foregroundColor="Gray"/>
      <highlight-row condition="level == LogLevel.Info" foregroundColor="Yellow" />
      <highlight-row condition="level == LogLevel.Warn" foregroundColor="DarkYellow" />
      <highlight-row condition="level == LogLevel.Error" foregroundColor="DarkRed" />
      <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White" />
    </target>
    <target name="file" type="File" layout="${message}" fileName="${specialfolder:folder=MyDocuments}/WCFDokServiceV1.log" />
  </targets>
  <rules>
    <logger name="*" minlevel="Info" writeTo="console,file" />
  </rules>
</nlog>
