<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WCFDocuments2">
                    <security mode="Transport">
                        <transport clientCredentialType="Certificate" />
                    </security>
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://192.168.2.131:8010/Service/WCFDocuments2"
                binding="basicHttpBinding" bindingConfiguration="WCFDocuments2"
                behaviorConfiguration="ClientZertifikat"
                contract="WCFService.IDocumentService" name="WCFDocuments2" />
        </client>
      <behaviors>
        <endpointBehaviors>
          <behavior name="ClientZertifikat">
            <clientCredentials>
              <clientCertificate
                storeLocation="LocalMachine"
                storeName="My"
                x509FindType="FindByThumbprint"
                findValue="535A8B2FB2E6C91D35EF7900BA4F59AC26AB8CB1"
              />
              <serviceCertificate>
                <authentication
                  certificateValidationMode="None"
                  revocationMode="NoCheck"
                  />
              </serviceCertificate>
            </clientCredentials>
          </behavior>
        </endpointBehaviors>
      </behaviors>
    </system.serviceModel>
</configuration>