<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <system.serviceModel>
    <services>
      <service
        name="WCFDocServiceV2.DocumentServiceV2"
        behaviorConfiguration="MitZertifikat">
        <endpoint
          name="WCFDocuments2"
          bindingNamespace="http://wcf/documents"
          binding="basicHttpsBinding"
          contract="WCFDocuments"
          bindingConfiguration="ZertifikatBindingConfiguration"
          >
        </endpoint>
        <endpoint
          address="mex"
          binding="mexHttpsBinding"
          contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="https://192.168.2.131:8010/Service/WCFDocuments2" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="MitZertifikat">
          <serviceMetadata httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceCredentials>
            <serviceCertificate
              x509FindType="FindByThumbprint"
              findValue="535A8B2FB2E6C91D35EF7900BA4F59AC26AB8CB1"
              storeLocation="LocalMachine"
              storeName="My"
              />
          </serviceCredentials>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpsBinding>
        <binding name="ZertifikatBindingConfiguration">
          <security mode="Transport">
            <transport clientCredentialType="Certificate" />
          </security>
        </binding>
      </basicHttpsBinding>
    </bindings>
  </system.serviceModel>
</configuration>
