<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <system.serviceModel>
    <services>
      <service
        name="WCFDocServiceV2.DocumentServiceV2"
        behaviorConfiguration="Standard">
        <endpoint
          name="WCFDocuments2"
          bindingNamespace="http://wcf/documents"
          binding="basicHttpBinding"
          contract="WCFDocuments"
          >
        </endpoint>
        <endpoint
          address="mex"
          binding="mexHttpBinding"
          contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8010/Service/WCFDocuments2" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="Standard">
          <serviceMetadata
            httpGetEnabled="True"
            />
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
